# Supabase Configuration
VITE_SUPABASE_URL=https://zbbsvtlnmjjkobfycudw.supabase.co
VITE_SUPABASE_ANON_KEY=
SUPABASE_URL=https://zbbsvtlnmjjkobfycudw.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

# Gemini API Configuration
GEMINI_API_KEY=
